<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Wheels -->
  <gazebo reference="wheel_left_link">
    <mu1>1000000000000000.0</mu1>
    <mu2>1000000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="wheel_right_link">
    <mu1>1000000000000000.0</mu1>
    <mu2>1000000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
    
  <!-- Caster Wheels -->
  <gazebo reference="caster_rear_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>
    
  <gazebo reference="caster_front_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

    <!--Volgio caricare la giusta versione della control library -->
    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <!--Così carichi il plug-in ros_control-->
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin"> 
                <!-- I parametri del plugin gli ho descritti nel yaml file-->
                <parameters>$(find bumperbot_controller)/config/bumperbot_controllers.yaml</parameters>
            </plugin>
            <!-- Carico il plugin per simulare l'imu-->
            <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu"></plugin>
            <!-- Carico il plugin per simulare il lidar-->
            <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
              <render_engine>ogre</render_engine> <!-- OGRE2 RENDERIZZA COME AL CAZZO INOLTRE DEVI USARE LA GPU E SE HAI UNA SCHEDA NVIDIA BUONA FORTUNA-->
            </plugin>


        </xacro:if> <!-- Viene eseguito solo se == True-->
        <!-- Se invece è false(se ad esempio sei su jazzy => nel mio caso non ha senso perchè sono su docker me se mi gira switcho su jazzy senza cambiare niente)-->
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find bumperbot_controller)/config/bumperbot_controllers.yaml</parameters>
            </plugin>
            <!-- Carico il plugin che mi permette di simulare l'imu-->
            <plugin filename="gz-sim-imu-system" name="gz::sim::system::Imu"></plugin>
            <plugin filename="gz-sim-sensors-system" name="gz::sim::system::Sensors">
              <render_engine>ogre2</render_engine>
            </plugin>
        </xacro:unless>
    </gazebo>
    <!-- Configuro l'imu-->
    <gazebo reference="imu_link"> 
      <sensor name="imu" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <gz_frame_id>imu_link</gz_frame_id> <!--Link a cui è collegato, quello che hai creato nell'urdf -->
        <topic>imu</topic> <!-- INGITION TOPIC, NON ROS TOPIC HAI BISOGNO DI UN BRIDGE-->
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
    <!-- LASER SCANNER-->
    <gazebo reference="laser_link">
      <sensor name="lidar" type="gpu_lidar">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>scan</topic>
        <update_rate>5</update_rate>
        <gz_frame_id>laser_link</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.00000</resolution>
              <min_angle>0.000000</min_angle>
              <max_angle>6.280000</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.120000</min>
            <max>12.0</max>
            <resolution>0.02</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
  </gazebo>
</robot>


<!-- Update the <ros2_control> tag and gazebo plugin to
[ign gazebo-2] <hardware>
[ign gazebo-2]   <plugin>gz_ros2_control/GazeboSimSystem</plugin>
[ign gazebo-2] </hardware>
[ign gazebo-2] <gazebo>
[ign gazebo-2]   <plugin filename="gz_ros2_control-system"name="gz_ros2_control::GazeboSimROS2ControlPlugin">
[ign gazebo-2]     ...
[ign gazebo-2]   </plugin>
[ign gazebo-2] </gazebo>-->